@import "tailwindcss";

:root {
  --background: #2b2923;
  --card: #5a5749;
  --surface: #fef3c7;
}
@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-card: var(--card);
}

body {
  @apply bg-background;
}

.count-label {
  @apply mt-1 text-xl font-mono font-medium uppercase tracking-wider text-cyan-200;
}
